main {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
  }
  #side_picture {
    background-image: url(login_img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #login_form {
    /* border-top-right-radius: 10px; */
    height: 100vh;
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #login_data {
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  #login_data > h3 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(204, 92, 92);
  }
  #login_data > h1 {
    margin-bottom: 25px;
  }
  #input_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  #input_1 > input {
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
  }
  #input_2 > input {
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
  }
  #input_2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #password {
    display: flex;
    justify-content: flex-end;
  }
  #login_button {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #login_button > button {
    padding: 10px 25px 10px 25px;
    width: 100%;
    /* height: 30px; */
    border-radius: 9px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #7cd2d7;
    color: white;
    margin-top: 20px;
    font-weight: bold;
  }
  
  #login_para {
    width: 100%;
    /* text-align: center; */
    /* margin-top: 15px; */
    color: gray;
  }
  #login_para span {
    color: rgb(204, 92, 92);
  }
  #password p {
    color: #7cd2d7;
    margin-top: 5px;
    display: none;
  }
  #side_picture {
    height: 100vh;
    width: 40%;
    background-color: rgb(30, 37, 35);
  }
  